/*Font Windows Command Prompt*/
@font-face {
  font-family: "Windows Command Prompt";
  src: url("fonts/windows_command_prompt.ttf") format("truetype");
}

:root {
  --cinzento: #c0c0c0;
  --cinzento_claro: #d8d8d8;
  --cinzento_escuro: #8e8e8e;
  --cinzento_mais_escuro: #aaa;
  --preto: #0a0a0a;
  --azul: #2a368e;
  --branco: #e8e8e8;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Windows Command Prompt";
}
#quadrado_grande_maior {
  display: block;
  margin: 0 auto;
  background-color: var(--cinzento);
  color: var(--preto);
  width: 600px;
  height: 330px;
  font-family: "Windows Command Prompt";
  border-left: var(--branco) 4px solid;
  border-top: var(--branco) 4px solid;
  border-right: var(--cinzento_claro) 4px solid;
  border-bottom: var(--cinzento_claro) 4px solid;
  box-shadow: 0 4px 4px 0 --preto;
  padding: 0.2%;
  margin-top: 10%;
  z-index: 1;
  position: relative;
}
#retangulo_azul_maior {
  background-color: var(--azul);
  color: var(--branco);
  font-family: "Windows Command Prompt";
  padding-top: 0;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 --preto;
}
#mensagem_erro_maior {
  flex-grow: 1;
  font-size: 34px;
  margin-left: 2%;
  margin-top: 5%;
}
#botao_fechar_maior {
  width: 8%;
  height: 8%;
}
#cruz_e_texto_maior {
  margin-left: 15%;
}
#cruz_circulo_maior {
  position: fixed;
  max-width: 15%;
  max-height: 15%;
  margin-top: 3%;
  margin-left: 2%;
  filter: drop-shadow(1.5px 1px var(--preto));
}
#texto_armcheio_maior {
  position: fixed;
  margin-left: 12%;
  margin-top: 5%;
  font-size: 40px;
}
#botao_da_caixa_maior {
  position: fixed;
  width: 40%;
  text-align: center;
  margin-top: 10%;
}
#botao_ok_maior {
  font-family: "Windows Command Prompt";
  font-size: 36px;
  width: 40%;
  border-radius: 0;
  background-color: var(--cinzento_claro);
  border: none;
  border-right: var(--preto) 2px solid;
  border-bottom: var(--preto) 2px solid;
  border-left: var(--branco) 2px solid;
  border-top: var(--branco) 2px solid;
  cursor: pointer;
}
#botao_ok_maior:hover {
  box-shadow: 0px 0px 3px #0a0a0a;
}
#botao_ok_maior:active {
  background-color: var(--cinzento_escuro);
  border-top: var(--preto) 2px solid;
  border-left: var(--preto) 2px solid;
  border-right: var(--cinzento_claro) 2px solid;
  border-bottom: var(--cinzento_claro) 2px solid;
}
